:root {
  --primary-color: #7c88d6;
  --secondary-color: #1b1c3e;
  --text-color: #e8e9fe;
  --secondary-text: #b3b4cb;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container,
.left-col,
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.left-col,
.main {
  align-items: center;
}

.left-col {
  background-color: var(--secondary-color);
  background-image: url("/images/papyrus-dark.png");
  background-blend-mode: color-dodge;
  padding: 2em;
}

.heading-text {
    margin-top: 0;
}

.heading-text,
.text {
  color: var(--text-color);
}

.heading-text--primary {
  color: var(--primary-color);
}

.link {
  color: var(--secondary-text);
  text-decoration: none;
  transition: color, font-size 200ms;
}

.link:hover {
  color: var(--primary-color);
  font-size: 1.1rem;
}

.github-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link--github {
  height: 32px;
  margin-left: 1em;
}

.link--github:hover {
  font-size: initial;
}

.github-icon {
  transition: transform 300ms;
}

.link--github:hover .github-icon {
  transform: rotateZ(360deg);
}

.main {
  background-image: linear-gradient(to top, #483b9a, var(--primary-color));
}

.calculator {
  background-color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.calculator__output {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8em;
  margin-top: 0.8em;
}

.calculator__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 0.5em 0.8em;
}

.calculator__current-operand {
  font-size: 1.6rem;
  font-weight: bold;
}

.calculator__grid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  padding: 0.8em;
  gap: 0.8em;
}

.calculator__button {
  color: var(--secondary-color);
  background-color: var(--secondary-text);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.6em 0.8em;
  box-shadow: 0 4px 0px var(--primary-color);
}

.calculator__button:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.calculator__button--size-two {
  grid-column: span 2;
}

@media only screen and (max-width: 780px) {
  .container {
   display: block;
  }
  .left-col {
      height: initial;
      padding: 4em;
  }
}
